body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.tasks {
    margin-top: 20px;
    width: 70%;
    height: 40%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

}

.task {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgb(241, 233, 233);
    position: relative;

}

.title {
    width: 100%;
    height: 100%;
    font-weight: 600;
}

.subs {
    width: 100%;
    height: 100%;
}

.dateTime {
    width: 100%;
    height: 100%;
}

.delete {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 90%;
}

.add {
    height: 80%;
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    min-width: 320px;
    max-width: 600px;
}

#title {
    width: 60%;
    height: 30%;
}

#description {
    width: 60%;
    height: 50%;
}

#add {
    width: 30%;
    height: 10%;
    border-radius: 25%;
}

input:checked + .info > .title {
    text-decoration: line-through;
}

.required {
    border: 1px solid red;
}